<a href="https://colab.research.google.com/github/TAEO2474/python-dev/blob/main/101_python_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  비교연산자
  -  <       >       <=      >=      ==      !=
  - 결과는 논리값 : True , False

In [ ]:
print(3 < 2)
print(3 > 2)
print(3 == 2)
print(3 != 2)

False
True
False
True

# 논리연산자
- and, or , not

In [ ]:
print( True and False)
print(True or False)
print(not True)

False
True
False

# existance
- python에서 조건은 존재론(existance)적이다. => truthy, falsey

In [ ]:
print( 3 < 2 or 4<5)

True

In [ ]:
# and는 앞이 True이면 뒤에 값을 반환한다.
print( 3 and 4)
print( 3 and 0)
print( 3 and 1)

4
0
1

In [ ]:
# and는 앞이 false이면 앞에 값을 반환한다.
print(0 and 3)
print('' and 4)
print(None and 5)

0

None

In [ ]:
# 앞이 True이면 앞의 값이 리턴된다.
print(1 or 4)

1

In [ ]:
# 앞이 False이면 뒤의 값을 리턴한다.
print(0 or 4)
print(0 or None)

4
None

# 제어문(statement controller)
- 문장의 흐름을 제어해 준다.
- 조건문, 반복문
- 조건문
  - if~else
- 반복문
  - for ~ in
  - while
- break, continue

if 조건식:
   수행할 문장
else:
   수행할 문장

In [ ]:
a = 8
if a > 8:
  print('Ok')
else:
  print('Fail')

Fail

In [ ]:
a = 5
if a%2==0:
  print('even')
else:
  print('odd')

odd

In [ ]:
name = '홍길동'
if name:
  print(name)

홍길동

In [ ]:
# 0.0은 숫자가 없는 것과 같음 => falsey
a = 0.0
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
# None은 숫자가 없는 것과 같음  => falsey
a = None
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
# 비어 있는  dict은 없는 것과 같음 => falsey
a = {}
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
a = int()
b = float()
c = list()
d = tuple()
e = str()
f = set()
g = frozenset()

if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
# if 조건식에 문장을 사용할 수 없다.
if a=4:
  print(a)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-22-3245030526.py, line 1)

In [ ]:
# 80이상이면 '상', 80미만 60이상이면 '중', 60이만이면 '하'
a = 85
if a >= 80:
  print('상')
elif a>=60:
  print('중')
else:
  print('하')

상

In [ ]:
a = 65
if a >= 80:
  print('상')
else:
  if a>= 60:
    print('중')
  else:
    print('하')

중

In [ ]:
a = 65

if a >= 60 :
  if a >= 80 :
    print('상')
  else:
    print('중')
else:
  print('하')

중

In [ ]:
member = True
grade = 'A' # 'S' 50, 'A' 30
point = 0

if member :
  #pass
  if grade == 'S':
     point = 50
  else:
     point = 30
else:
  point=0

print(point)

30

In [ ]:
age =  int(input('나이:'))
#print(age)
#print(type(age))
gender = input('성별[남,여]:')

if gender == '남':
  if age >= 20 :
    print('성인 남성입니다.')
  else:
    print("청소년 남성입니다.")
elif gender=='여':
  if age >= 20 :
    print('성인 여성입니다.')
  else:
    print("청소년 여성입니다.")
else:
  print('다시 입력해 주세요[남, 여].')

나이:25
성별[남,여]:여
성인 여성입니다.

* 퀴즈
1. 놀이기구에 키가 140cm이상이고,
  나이가 8세 이상인 사람만 탑승한다고 가정합니다.
2. 먼저 키(height)와 나이(age)를 입력받으세요.
3. 조건문 if~else를 사용하여 2개의 조건이 모두 참일 경우
  "놀이기구에 탑승할 수 있습니다."를 출력하세요.
4. 위 조건이 거짓일 경우 "놀이기구에 탑승할 수 없습니다."
    를 출력하세요.
5. 조건식과는 별개로 "오늘 하루 즐거운 시간되세요!"
   를 출력하세요.

In [ ]:
height = int(input('키:'))
age = int(input('나이:'))

if height>=140 and age >= 8 :
  print('놀이기구에 탑승할 수 있습니다.')
else:
  print('놀이기구에 탑승할 수 없습니다.')

print('오늘 하루 즐거운 시간되세요!')

[조건]

1. 18세 미만은 이 영화를 볼 수 없다
2. 18세 이상 59세 이하의 손님은 8000원
3. 60세 이상의 손님은 5000원
4. 포인트카드를 가지고 있고 지금까지 5편의 영화를 본 손님은 5000원

18세 미만이면 '티켓을 팔 수 없다'를 기술한 부분이다.
60세 이상이거나 포인트가 있고 5편 관람한 할인 대상자는 '티켓은 5000원입니다.
그외는 '티켓은 8000원입니다'로 출력하는 프로그램을 구현하시오.

[테스트1]
age=35
point_card =True
count=5

출력결과 : 티켓은 5000원입니다

[테스트2]
age=17
point_card =True
count=5

출력결과 : 티켓을 판매할 수 없습니다

[테스트3]
age=35
point_card =True
count=3

출력결과: 티켓은 8000원입니다

In [ ]:
age = int(input('나이:'))
point_card = bool(input('포인트 소지여부:'))
count = int(input('영화 관람 티켓 갯수:'))

if age < 18 :
  print('티켓을 판매할 수 없습니다')
elif age >=60 or (point_card and count==5):
  print('티켓은 5000원입니다')
else:
  print('티켓은 8000원입니다')

나이:17
포인트 소지여부:True
영화 관람 티켓 갯수:5
티켓을 판매할 수 없습니다

## 반복문 : while
반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.  
대부분의 프로그래밍 언어는 while과 for을 지원한다.  
else
  - if ~ else    
  - while ~ else  
  - try ~ except ~ else ~ finally



```
while 조건식:
  수행할 문장
else:
  수행할 문장
```

In [ ]:
# while 문이 완벽이 돌았으므로 end가 출력된다.
a = 10
while a > 5:
  a -= 1   # a = a-1
  print(a)
else:
  print('end')

9
8
7
6
5
end

In [ ]:
# while문을 강제적으로 빠져나왔기 때문에 else영역을 실행하지 않는다.
a = 10
while a > 5:
  a -= 1   # a = a-1
  print(a)
  if a==5:
    break  # 반복문을 강제적으로 빠져나올 때 사용한다. 즉 반복문을 중단시킨다.
else:
  print('end')

9
8
7
6
5

In [ ]:
# continue는 다음 루프(조건식)로 바로 넘어간다.
# 반복문을 중단하지는 않으므로 else문이 실행된다.
a = 10
while a > 5:
  a -= 1   # a = a-1
  if a%2==0:
    continue   # 이동
  print(a)
else:
  print('end')

9
7
5
end

In [ ]:
# 1부터 10까지 출력하는 프로그램
a = 1
while a <= 10 :
  print(a)
  a = a + 1    # a += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1부터 10까지 출력하고 합계 구하는  프로그램 구현
a = 1
total = 0
while a <= 10 :
  total = total + a
  print(a)
  a += 1

print('total={}'.format(total))

1
2
3
4
5
6
7
8
9
10
total=55

In [ ]:
# 1부터 10까지 짝수, 홀수 합계 구하는  프로그램 구현
a = 1
even = 0  #짝수
odd = 0   #홀수
while a <= 10 :
  if a % 2 == 1 : # 홀수?
    odd = odd + a    # odd  += a
  else:
    even = even + a  # even += a
  a += 1

print('짝수={}'.format(even))
print('홀수={}'.format(odd))

짝수=30
홀수=25

```
for 변수 in iterable(리스트,튜플, 문자열...):
  수행할 문장
  
```

In [ ]:
for i in [1,2,3,4,5]:
   print(i)

1
2
3
4
5

In [ ]:
for i in (1,2,3,4,5):
  print(i)

1
2
3
4
5

In [ ]:
for i in 'python':
  print(i)

p
y
t
h
o
n

In [ ]:
for i in {'one':1, 'two':2}:
  print(i)

one
two

In [ ]:
{'one':1, 'two':2}.values()

dict_values([1, 2])

In [ ]:
for v in {'one':1, 'two':2}.values():
  print(v)

1
2

# set
리스트,튜플에서 중복되는 숫자는 제거 후 출력된다

In [ ]:
s = set([2,1,3, 1])
for i in s:
  print(i)

1
2
3

### range

In [ ]:
# range(stop)

for i in range(5):  # 0부터 5미만의 값이 1씩 증가해서 생성된다. (0, 1, 2, 3, 4)
  print(i)

0
1
2
3
4

In [ ]:
# range(start, stop)
for i in range(1, 5):  # 1부터 5미만의 값이 1씩 증가해서 생성된다. (1, 2, 3, 4)
  print(i)

1
2
3
4

In [ ]:
# range(start, stop, step)

for i in range(1, 5, 2): # 1부터 5미만의 값이 2씩 증가해서 생성된다.(1, 3)
  print(i)

1
3

#### enumerate 함수
 - enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀더 효율적으로 사용하기 위한 함수이다.
 - enumerate()함수는 반복가능객체(list, tuple, str)을 입력으로 받아 인덱스를 포함하는 enumerate 객체를 리턴한다.
 - enumerate([순서자료형], [시작값=0])의 형식을 가지며 반복가능객체은 반복자가 가능한 객체가 입력되고 시작값은 입력시 해당수 부터 증가하며, 생략했을 경우 기본값은 0 이다.

In [ ]:
# enumerate(iterable[, start])

In [ ]:
for v in enumerate(['apple','python', 'microsoft']):
  print(v)

(0, 'apple')
(1, 'python')
(2, 'microsoft')

In [ ]:
# (i, v)로 튜플을 unpack하는 방식
for i, v in enumerate(['apple','python', 'microsoft']):
  print(i, v)

0 apple
1 python
2 microsoft

In [ ]:
for i, v in enumerate(['apple','python', 'microsoft'], 1):
  print(i, v)

1 apple
2 python
3 microsoft

In [ ]:
a = {'one': 1, 'two': 2}
for  k in enumerate(a):
  print( k)

(0, 'one')
(1, 'two')

In [ ]:
a = {'one': 1, 'two': 2}
for i, k in enumerate(a):
  print(i, k)

0 one
1 two

In [ ]:
for v in enumerate({10, 20, 39}):
  print(v)

(0, 10)
(1, 20)
(2, 39)

In [ ]:
for i, v in enumerate({10, 20, 39}):
  print(i, v)

0 10
1 20
2 39

### zip
- 매개인자로 여러 목록을 받아 각 목록의 요소를 **튜플**에 담아 목록에 저장한다.

In [ ]:
a = [1, 2, 3, 4, 5]
b = ['a', 'b','c','d','f']

for  x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'f')

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
b = ['a', 'b','c','d','f']

for  x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'f')

# 리스트.append(추가할_값)

In [ ]:
a = []                    # 1. 빈 리스트 a를 생성
for x in range(2, 10):    # 2. x를 2부터 9까지 반복 (10은 포함되지 않음)
    a.append(x)           # 3. x를 리스트 a에 추가
print(a)                  # 4. 리스트 a 출력

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for x in range(1, 10):
  for y in range(2, 10):
    print('{} X {} = {}'.format(y, x, x*y), end='\t') #'\t' 줄바꿈
  print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

## Comprehension
 - comprehension이란 iterable(a.반복할 수 없는)한 오브젝트를 생성하기 위한 방법 중 하나이다. 쉽게 말해 기존 시퀀스(리스트, 튜플 등)를 기반으로 새로운 시퀀스를 짧은 문법으로 만들어내는 기법입니다.


| 종류                       | 문법 예시                         |
|----------------------------|-----------------------------------|
| **List comprehension**     | `[x for x in iterable]`           |
| **Set comprehension**      | `{x for x in iterable}`           |
| **Dict comprehension**     | `{k: v for k, v in iterable}`     |
| **Generator expression**   | `(x for x in iterable)`           |



파이썬에서 **"시퀀스(Sequence)"**는 데이터를 순서대로 저장하는 자료형

### 1) List Comprehension
 - List 정의시 값을 정하지 않고 호출시 리스트 내의 값들이 처리되도록 구성
 - A = [표현식 for 항목 in 반복가능객체(iterable)]
 - A = [표현식 for 항목 in 반복가능객체(iterable) if 논리식]
 - A = [표현식 for 항목1 in 반복가능객체(iterable)1 for 항목2 in 반복가능객체(iterable)2 if 논리식]

In [ ]:
s = []                     # 빈 리스트 s 생성

for x in range(10):        # x를 0부터 9까지 반복 (10은 포함 안 됨)
  s.append(x**2)           # x의 제곱(x²)을 s 리스트에 추가

print(s)                   # 리스트 s 출력

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = [ x**2 for x in range(10) ] #  List Comprehension 사용
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = []
for x in range(10):
  if x%2==0:
    s.append(x**2)
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s = [ x**2 for x in range(10) if x%2==0 ]
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s = []
for x in range(10):
  if x%2==0:
    s.append(x**2)
  else:
    s.append(-x)
print(s)

[0, -1, 4, -3, 16, -5, 36, -7, 64, -9]

In [ ]:
s = [ x**2 if x%2==0 else -x   for x in range(10)  ]
print(s)

[0, -1, 4, -3, 16, -5, 36, -7, 64, -9]

In [ ]:
s = []
for i in range(1,3):
  for j in range(4, 8):
    #print('({},{})'.format(i, j))
    s.append((i, j))
print(s)

(1,4)
(1,5)
(1,6)
(1,7)
(2,4)
(2,5)
(2,6)
(2,7)
[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

In [ ]:
s = [ (i,j)   for i in range(1,3) for j in range(4, 8)]
print(s)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

총판매금액을 구하는 프로그램(list comprehension을 사용)  
cnt = [1, 1, 2, 1]   
prod = [500, 1000, 400, 600]

In [ ]:
s = []
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]

for  i,j  in zip(cnt, prod):
  s.append(i*j)
print(sum(s))

2900

In [ ]:
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]
s= [ i*j  for  i,j  in zip(cnt, prod) ]
print(sum(s))

2900

리스트에서 짝수값만 추출해서 index와 함께 출력하는 프로그램을 구현하세요.    
data = [1, 3, 5, 8, 9, 11, 15, 19, 18, 20, 30, 33, 31]

In [ ]:
data = [1, 3, 5, 8, 9, 11, 15, 19, 18, 20, 30, 33, 31]
s = []
for i, v in enumerate(data):
  if v%2==0:
     s.append((i, v))
print(s)

[(3, 8), (8, 18), (9, 20), (10, 30)]

In [ ]:
data = [1, 3, 5, 8, 9, 11, 15, 19, 18, 20, 30, 33, 31]
s = [ (i, v)   for i, v in enumerate(data)  if v%2==0]
print(s)

[(3, 8), (8, 18), (9, 20), (10, 30)]

'e'가 포함되어 있는 과일들만 추출해서 대문자로 출력하는 프로그램을 구현하세요.  
fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']  

[출력결과]  
['APPLE', 'CHERRY', 'GRAPE']

In [ ]:
 fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']
 s = [ item.upper()  for item in fruits   if 'e' in item]
 print(s)

['APPLE', 'CHERRY', 'GRAPE']

### dict comprehension
 - 사전 정의시 값을 정하지 않고 호출시사전 내의 값들이 처리되도록 구성
 - A = {표현식 for (k, v) in 반복가능객체 if 논리식}

In [ ]:
d = {}
for k, v in zip(range(9), range(9)):
  d[k] = v
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [ ]:
d = { k:v for k, v in zip(range(9), range(9)) }
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [ ]:
a = {'x':1, 'y':2, 'z':3}
b = {'w':10, 'x':11, 'y':2}
print(a.keys())
print(b.keys())
print(a.keys() - b.keys())
d={}
for i in a.keys() - b.keys():
  d[i]=a[i]
print(d)

dict_keys(['x', 'y', 'z'])
dict_keys(['w', 'x', 'y'])
{'z'}
{'z': 3}

In [ ]:
a = {'x':1, 'y':2, 'z':3}
b = {'w':10, 'x':11, 'y':2}
d = {i: a[i] for i in a.keys() - b.keys()}
print(d)

{'z': 3}

### set comprehension
- Set 정의시 값을 정하지 않고 호출시 Set내의 값들이 처리되도록 구성
- A = { 표현식 for 항목 in 반복가능객체 if 논리식}

In [ ]:
s = set()
for i in range(1, 3):
  for j in range(4, 8):
    s.add((i,j))
print(s)

{(2, 4), (2, 7), (1, 5), (1, 4), (1, 7), (2, 6), (1, 6), (2, 5)}

In [ ]:
s= { (i,j) for i in range(1, 3) for j in range(4, 8)}
print(s)

{(2, 4), (2, 7), (1, 5), (1, 4), (1, 7), (2, 6), (1, 6), (2, 5)}

## Iterator(이터레이터: 반복자)
- 이터레이터는 next() 함수 호출시 계속해서 다음 값을 리턴하는 객체이다

- 즉 , **값을 하나씩 순차적으로 꺼낼 수 있는 객체**
- `for` 반복문에서 하나씩 꺼내 쓰는 그 대상!
- 내부적으로 `__iter__()`와 `__next__()` 메서드를 가진 객체

---

###  이터레이터의 핵심 메서드

| 메서드        | 설명                                       |
|---------------|--------------------------------------------|
| `__iter__()`  | 이터러블을 이터레이터로 변환               |
| `__next__()`  | 다음 값을 반환. 더 이상 없으면 `StopIteration` 예외 발생 |

---

### 예제 1: 직접 이터레이터 사용

```python
a = [1, 2, 3]      # 리스트 (이터러블)
i = iter(a)        # 이터레이터 생성

print(next(i))     # 1
print(next(i))     # 2
print(next(i))     # 3
# print(next(i))   # StopIteration 예외 발생
```

---

###  이터러블(Iterable)과의 차이

| 개념         | 설명

In [ ]:
a = [1,2]
print(a)
i = iter(a)
print(type(i))  # list_iterator
print(next(i))  # 1
print(next(i))  # 2
print(next(i)) # StopIteration

[1, 2]
<class 'list_iterator'>
1
2

StopIteration:

In [ ]:
# for ~ in 이용해서 iterator을 사용하면 next()함수를 사용하지 않아도 되며 StopIteration예외에 신경쓰지 않아도 된다.
a = [1,2]
i = iter(a)
for b in i:
  print(b)

1
2

## Generator을 사용하는 목적은 Iterator을 생성하기 위해서 사용한다.

## Generator을 생성하는 방법은 2가지가 있다.
 - ① Generator 함수 (yield 사용) 와 ② Generator 표현식 (Generator Comprehension)

### Generator Expression
 - 파이썬에는 tuple(immutable)에는 comprehension이 존재하지 않고
    syntax 상으로 generator 가 생성한다.
 - 값을 하나씩 “생성”하는 반복자(iterator). 메모리를 덜 사용하며, **지연 평가(Lazy Evaluation)**가 특징이다.
 - generator를 호출하면 next 메소드를 통해 하나씩 호출하며 StopIteration 이 발생하면 종료된다.

In [ ]:
squares = (x ** 2 for x in range(5))  # 제너레이터 표현식으로 제너레이터 객체 생성
print(squares)                        # 제너레이터 객체의 메모리 주소 출력
print(dir(squares))                   # 제너레이터 객체가 가진 메서드와 속성 목록 출력

 # x ** 2 for x in range(5) → 계산 로직 (아직 실행 안 됨)
 # ( ... ) → 이걸 감싸면 제너레이터 표현식
 # squares → 이 표현식으로 만들어진 제너레이터 객체

<generator object <genexpr> at 0x7aa8b8186190>
['__class__', '__del__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__name__', '__ne__', '__new__', '__next__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'close', 'gi_code', 'gi_frame', 'gi_running', 'gi_suspended', 'gi_yieldfrom', 'send', 'throw']

① Generator 함수 (yield 사용) 와 ② Generator 표현식 (Generator Comprehension) 비교

In [ ]:
# ① Generator 함수 (yield 사용)
def count_up_to(n): # -> "count_up_to라는 이름의 함수를 만들 건데, 이 함수는 n이라는 숫자를 입력받을 거야"
  i = 1
  while i<n:
    yield i
    i +=1

gen = count_up_to(3)  # 제너레이터 객체 생성(실행 아님)
print(gen)
print(next(gen))  # 1    #i = 1 → yield 1 → 1 반환, 함수 멈춤
print(next(gen))  # 2    #i = 2 → yield 2 → 2 반환, 함수 멈춤
# print(next(gen))       #i = 3 → while i<3 조건 거짓 , 함수 종료  -> StopIteration

<generator object count_up_to at 0x7aa8b8005e50>
1
2

StopIteration:

In [ ]:
# ② Generator 표현식 (Generator Comprehension)
gen = (x+1 for x in range(2))

print(gen)
print(next(gen))  # 1
print(next(gen))  # 2
#print(next(gen)) # StopIteration

<generator object <genexpr> at 0x7aa8b80046c0>
1
2

StopIteration:

반복문에서의 yield 사용
- for문 내부에서 자동으로 next()를 호출하고 , StopIteration이 발생하면 반복 종료한다.

In [ ]:
def count_up_to(n):
  i = 1
  while i < n:
    yield i        # 현재 i 값을 내보내고 함수 실행을 잠시 멈춤
    i += 1         # i를 1 증가시킴

for number in count_up_to(3):
  print(number)    # 제너레이터가 내보내는 값을 하나씩 출력

1
2

예외처리(try/except) yield 사용

In [ ]:
def safe_divide(nums):
  for n in nums:  # [5,2, 0,1]
    try:
       yield 10/n
    except ZeroDivisionError:
       yield 'Error: divide by zero'

gen = safe_divide([5,2, 0,1])
print(gen)
#print(next(gen)) # 2.0
#print(next(gen)) # 5.0
#print(next(gen)) # Error: divide by zero
#print(next(gen)) # 10.0
# print(next(gen))  #StopIteration
print(list(gen))

<generator object safe_divide at 0x7aa8b7fbe0a0>
[2.0, 5.0, 'Error: divide by zero', 10.0]

## Generate을 사용하는 경우

In [ ]:
  # list comprehension을 사용하면 예외가 발생했을때 정상적으로 실행하지 않는다.
  a = [5, 2, 0, 1]
  l = [x/0 for x in a]
  print(l)

ZeroDivisionError: division by zero

list comprehension은 모두 실행후 결과를 리턴해 주지만
generate expression은 호출할때마다 하나씩 실행을 해서 리턴해주므로 시간이 오래 걸리는 작업이나 데이터 량이 커서 메모리가 부족할때 나누어서 작업할때 사용한다.

In [ ]:
import time

def longtime_job():
  print('job start')
  time.sleep(1)
  return 'done'

list_job = [longtime_job() for i in range(5)]
print(list_job)

job start
job start
job start
job start
job start
['done', 'done', 'done', 'done', 'done']

In [ ]:
import time

def longtime_job():
  print('job start')
  time.sleep(1)
  return 'done'

list_job = (longtime_job() for i in range(5))
print(next(list_job))
print(next(list_job))

job start
done
job start
done

제어 흐름: send(), close(), throw()

In [ ]:
# ① send(): 외부에서 값을 보내기

def echo():
    while True:
        received = yield
        print(f"Received: {received}")

g = echo()
print(g)
print(next(g))           # 제너레이터 시작 (yield 도달)
g.send('hello')   # → Received: hello

<generator object echo at 0x7aa8b8006e90>
None
Received: hello

In [ ]:
g.send('python')

Received: python

In [ ]:
  # ② close(): 제너레이터 종료
  g.close()

In [ ]:
g.send('program')

StopIteration:

In [ ]:
# ③ throw(): 예외 던지기
def controlled():
    try:
        yield
    except ValueError:
        print("Caught ValueError inside generator")

g = controlled()
print(g)
next(g)
g.throw(ValueError)

<generator object controlled at 0x7aa8b81852f0>
Caught ValueError inside generator

StopIteration:

yield from: 하위 제너레이터 위임
- yield from은 **다른 이터러블(제너레이터 포함)**을 위임해서 반복하는  표현입니다.
- yield from iterable은 for item in iterable: yield item과 동일합니다.
하지만 더 간결하고 효율적하며, 내부 제너레이터에 예외 전파도 할 수 있어 고급 코드에서 유용합니다.

In [ ]:
def gen1():
    yield from [1, 2, 3]
    yield from "AB"

for x in gen1():
    print(x)

print(list(gen1()))

1
2
3
A
B
[1, 2, 3, 'A', 'B']

In [ ]:
def inner():
    yield from range(3)
    yield from 'start'
    yield 'content'

def outer():

    yield from inner()
    yield 'end'

print(list(outer()))

[0, 1, 2, 's', 't', 'a', 'r', 't', 'content', 'end']

|기능  |  예시  | 사용 시점|
|--- |--- |--- |
|if/else 컴프리헨션 | [x if x > 0 else 0 for x in nums] | 조건별 처리 |
|중첩 for문 | [(x,y) for x in A for y in B] | 모든 조합 생성 |
|yield + 예외 처리 | try/except in generator | 안전한 반복 처리 |
|send()| 동적으로 값 주입 | 코루틴 또는 상태기반 처리 |
|yield from | 서브 제너레이터 위임 | 흐름 연결 및 위임 |

Comprehension vs Generator 표현식


| 항목 | 리스트 컴프리헨션 | 제너레이션 표현식|
|------|-------------------|------------------|
|예시 | [x*x for x in range(1000)] | (x*x for x in range(1000)) |
|결과 | 리스트 생성 | 제너레이터 객체 생성 |
|메모리 | 더 많이 사용 |  적게 사용 |
|평가 방식 | 즉시 평가 | 지연 평가 (lazy) |

언제 어떤 걸 쓰나?

|상황                      |           추천 방식        |
|--------------------------|----------------------------|
|모든 값을 한 번에 써야 함 | List/Dict/Set Comprehension |
|값이 많고 하나씩 처리해야 함 | Generator 사용  |
|메모리 절약이 중요한 경우 | Generator 표현식 |
|간단하고 빠른 값 생성   | 리스트 컴프리헨션 |

## 실제 프로그래밍 문제나 실전 활용 예

예제 1: 뉴스 기사 요약용 키워드 필터링기 (Comprehension 활용)

- 목표: 주어진 뉴스 본문 리스트에서 특정 키워드를 포함한 문장만 필터링

In [ ]:
news_articles = [
    "ChatGPT is transforming the AI world.",
    "Bitcoin price hits a new high.",
    "Python dominates machine learning.",
    "Weather forecast shows heavy rain.",
]

keywords = ['AI', 'Python', 'machine learning']

# 필터링된 문장 추출 (중첩 조건)
filtered = [article for article in news_articles if any(k in article for k in keywords)]

print(filtered)

['ChatGPT is transforming the AI world.', 'Python dominates machine learning.']

예제 2: 로그 스트리밍 처리기 (Generator + 예외 처리 + 지연 평가)

목표
- 실시간 로그에서 오류 메시지만 필터링
- 중간에 예외가 발생해도 안전하게 처리

결과
- 메모리를 덜 사용하고, 예외가 생겨도 전체 처리를 멈추지 않는 안전한 구조이다.

In [ ]:
def log_stream(logs):
    for line in logs:
        try:
            if 'ERROR' in line:  #  "ERROR: Failed to connect to database.",
                yield line
            else:
                yield f"IGNORED: {line}"
        except Exception as e:
            yield f"EXCEPTION: {str(e)}"

logs = [
    "INFO: Connection established.",
    "ERROR: Failed to connect to database.",
    "DEBUG: Retrying...",
    "ERROR: Timeout while waiting.",
]

stream = log_stream(logs)

for entry in stream:
    print(entry)

IGNORED: INFO: Connection established.
ERROR: Failed to connect to database.
IGNORED: DEBUG: Retrying...
ERROR: Timeout while waiting.

예제 3) 코드 분석기: 함수 이름과 주석 추출 (Comprehension + 조건)


목표
- dict comprehension + 조건 필터를 활용해 코드 내 함수 정보만 빠르게 추출
- Python 파일에서 함수 이름과 docstring만 뽑기 (코드 리뷰용 요약)

결과
- dict comprehension + 조건 필터를 활용해 코드 내 함수 정보만 빠르게 추출

In [ ]:

import ast

def extract_functions_with_docstrings(code):
    tree = ast.parse(code)  # ast 모듈을 사용하여 code문자열을 파싱해서  트리를 생성한다.
    print('tree:', tree)
    return {
        # node.name을 키로 사용하고 ast.get_docstring(node)을 값으로 사용한다.
        # ast.walk(tree)는 트리 안의 모든 노드를 순회한다.
        # 각 노드 중에서 ast.FunctionDef (함수 정의) 타입인 노드만 필터링한다.
        # isinstance(object, classinfo)  : object가 classinfo의 인스턴스이거나 서브클래스의 인스턴스일 경우 True 아니면 False을 리턴
        #  object : 검사할 객체
        #  classinfo : 클래스
        node.name: ast.get_docstring(node)    for node in ast.walk(tree)  if isinstance(node, ast.FunctionDef)
    }

sample_code = """
def add(a, b):
    '''Adds two numbers.'''
    return a + b

def multiply(a, b):
    return a * b
"""

result = extract_functions_with_docstrings(sample_code)
print(result)

tree: <ast.Module object at 0x7aa8b8561240>
{'add': 'Adds two numbers.', 'multiply': None}

예제4)AI 모델 학습 데이터 전처리기: 텍스트 정제 + 토큰 필터링 (Comprehension + Generator)

목표:
- 텍스트 데이터에서 stopword 제거
- 최소 길이 이상 토큰만 유지

결과:
 - Generator로 학습 데이터 사전 정제 → 이후 tokenizer나 vectorizer에 연결 가능

In [ ]:
import re

STOPWORDS = {'is', 'a', 'the', 'in', 'and', 'of'}

def preprocess(texts):
    for sentence in texts:
        tokens = re.findall(r'\b\w+\b', sentence.lower())
       # print('tokens=>', tokens)
        # 필터링: stopword 제외 + 길이 3 이상
        yield [t for t in tokens if t not in STOPWORDS and len(t) >= 3]

raw_data = [
    "The quick brown fox jumps over the lazy dog.",
    "AI is a branch of computer science.",
    "Data in the modern world is complex and vast."
]

for tokens in preprocess(raw_data):
    print(tokens)

['quick', 'brown', 'fox', 'jumps', 'over', 'lazy', 'dog']
['branch', 'computer', 'science']
['data', 'modern', 'world', 'complex', 'vast']